<header>
    <div class="container nav">
    <img src="images/logo.png" alt="Kalyani Farms organic farm logo Konkan" class="logo">
    <button class="menu-toggle" aria-label="Toggle navigation menu" aria-expanded="false">☰</button>
    <nav>
      <ul>
        <li><a href="index.html">Home<br><span>मुख्य पृष्ठ</span></a></li>
        <li class="dropdown"><a href="10-about.html">About<br><span>आमच्याबद्दल</span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="11-about-biodiversity.html">Biodiversity & Sustainability<br><span>जैवविविधता व शाश्वत शेती</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="20-products.html">Products<br><span>उत्पादने</span></a>
           <ul class="dropdown-menu">
            <li><a href="20_1-derived-products.html">Derived products<br><span>व्युत्पन्न उत्पादने</span></a></li>
            <li><a href="20_2-kalyn-naturals.html">Kalyn Naturals products<br><span>कॅलिन नॅचरल्स उत्पादने</span></a></li>
           </ul>
        </li>
        <li><a href="21-activities.html">Activities<br><span>क्रियाकलाप</span></a></li>
        <li><a href="22-blog.html">Blog<br><span>ब्लॉग</span></a></li>
        <li><a href="24-seasonal-calendar.html">Seasonal Calendar<br><span>हंगामी माहिती</span></a></li>
        <li><a href="30-gallery.html">Gallery<br><span>गॅलरी</span></a></li>
        <li><a href="40-faq.html">FAQ<br><span>सामान्य प्रश्न</span></a></li>
        <li><a href="50-contact.html">Contact<br><span>संपर्क</span></a></li>
      </ul>
    </nav>
    </div>
</header>
