<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
   
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2G3R75TJNG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2G3R75TJNG');
    </script>
   
     <!---SEO basics--------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="author" content="Kalyani Farms">
    <meta name="description" content="{{page.description}}">

     <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&family=Noto+Sans+Devanagari&display=swap" rel="stylesheet">
   
    <!----CSS----->
    <link rel="stylesheet" href="{{'/css/style.css'| relative_url}}">
    
    {%if page.hero_image%}
     <link rel="preload" as="image" href="{{page.hero_image}}">
    {%endif%}
    
    <!---HTML Tag Verification --->
   <meta name="google-site-verification" content="oHyODE_AT_qSG7ZUIO3RFROHWmJf36PUzCNk_H93kqg" />
</head>
<body>
{%include header.html%}
{{content}}
{%include footer.html%}
  
<!---Hamburger menu JS--->
  <script>
    const toggle = document.querySelector('.menu-toggle');
    const menu = document.querySelector('nav ul');
    toggle.addEventListener('click', () => {
    const isOpen = menu.classList.toggle('show');
    toggle.setAttribute('aria-expanded',isOpen);
    });
  </script>
 
 <!----whatsapp tracking--->
  <script>
   function trackWhatsApp() {
      if (window.gtag) {
            gtag('event', 'whatsapp_click', {
            event_category: 'engagement',
            event_label: 'Preorder Banner'});
           }
      }
   </script>
</body>
